.about-content{
    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

.about-image img{
    height: 300px;
    width: 433px;
    border-radius: 190px;
    margin-top: 50px;
    border: 5px solid yellow;
    margin: 50px;
}

.about-details{
    margin-top: 50px;
}

.about-title{
    text-align: center;
    padding-bottom: 10px;
}

.line{
    display: block;
    width: 70px;
    height: 3px;
    margin: 1px auto;
    background-color: yellowgreen;
}

