.sidebarProfilePic {
    /* Wrap the img element in a div and apply display inline-block */
    padding-left: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .sidebarProfilePic img {
    border-radius: 90px;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3px solid yellow;
  }

.navbar-items ul li{
    color: white;
    list-style-type: none;
    cursor: pointer;
    margin-top: 30px;
}

.navbar-items ul li svg{
    margin-right: 25px;
    margin-left: 10px;
}

.collapse-navbar-items ul li{
    margin-top: 30px;
    cursor: pointer;
    list-style-type: none;
}

.collapse-navbar-items ul li svg{
    margin-left: 10px;
}

.navbar-items ul li{
    text-decoration: none;
}

.navbar-items :active{
    border-left: 2px solid yellow;
    color: yellow;
}